<%= simple_form_for @booking do |f| %>
  <div class="input-group input-daterange">
    <%= f.input :start_date, as: :string, label: false, input_html: { class: 'datepicker'} %>
    <div class="input-group-addon">to</div>
    <%= f.input :end_date, as: :string, label: false , input_html: { class: 'datepicker'} %>
  </div>
  <%= f.submit "Reserve", class: "btn btn-danger" %>
<% end %>


