<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/g/200/300');">
    </div>
    <div class="card-bottom">
      <div class="card-price"><%= apt_price %> €</div>
      <div class="card-title"><%= apt_title %></div>
      <div class="card-apt-type"><%= apt_type %></div>
      <div class="card-beds"><%= apt_beds %> beds</div>
    </div>
  </div>
</div>
