<div class="wrapper-gray">
  <div class="main-container">
    <div class="cards">
      <div class="row">
        <% @apartments.each do |apartment| %>
          <%= render partial: 'shared/card', locals: {
            apt_price: apartment.price_per_night, apt_title: apartment.title, apt_type: apartment.accomodation_type, apt_beds: apartment.beds } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
